@model IEnumerable<Proyecto1_KatherineMurillo.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Registro Clientes</h1>

<p>
    <a asp-action="Create" asp-controller="RegistroClientes">Crear Nuevo</a>
</p>

<form asp-action="Index" method="get" class="form-inline mb-3">
    <div class="form-group">
        <label for="buscarIdentificacion" class="mr-2" style="font-size: 1.1em;">Buscar Empleado:</label>
        <input type="text" id="buscarIdentificacion" name="buscarIdentificacion" class="form-control" placeholder="Ingrese el número de identificación" />
    </div>
    <button type="submit" class="btn btn-primary ml-2">Buscar</button>
</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Identificación
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                Provincia
            </th>
            <th>
                Cantón
            </th>
            <th>
                Distrito
            </th>
            <th>
                Dirección Exacta
            </th>
            <th>
                Mantenimiento Invierno
            </th>
            <th>
                Mantenimiento Verano
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionExacta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MantenimientoInvierno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MantenimientoVerano)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Identificacion }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Identificacion })
            </td>
        </tr>
}
    </tbody>
</table>
