@model IEnumerable<Proyecto1_KatherineMurillo.Models.cls_Clientes>

@{
    ViewData["Title"] = "ListadoClientes";
}

<h1>Listado Clientes</h1>

<p>
    <a asp-action="AbrirCrearClientes" asp-controller="RegistroClientes">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Identificación
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                Provincia
            </th>
            <th>
                Cantón
            </th>
            <th>
                Distrito
            </th>
            <th>
                Dirección Exacta
            </th>
            <th>
                Mantenimiento Invierno
            </th>
            <th>
                Mantenimiento Verano
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionExacta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MantenimientoInvierno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MantenimientoVerano)
            </td>
            <td>
                    @Html.ActionLink("Modificar", "AbrirModificarClientes", new { _iId_Clientes = item.Identificacion }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "AbrirEliminarClientes", new { _iId_Clientes = item.Identificacion }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
