@model Proyecto1_KatherineMurillo.Models.Mantenimiento

@{
    ViewData["Title"] = "AbrirDeleteMantenimiento";
}

<h1 style="color:darkcyan">Registros</h1>

<h4 style="color:darkcyan">Eliminar Mantenimiento</h4>

<div>
    <h4>Mantenimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEjecutado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEjecutado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAgendado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAgendado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetrosPropiedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetrosPropiedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetrosCercaViva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetrosCercaViva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasSinChapia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasSinChapia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaOtraChapia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaOtraChapia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoZacate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoZacate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AplicacionProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AplicacionProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoAplicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoAplicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoChapia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoChapia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoAplicacionProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoAplicacionProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoMantenimiento)
        </dd>
    </dl>
    
    <form asp-action="AbrirDeleteMantenimiento" method="post">
        @Html.HiddenFor(model => model.IdMantenimiento)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
