@model IEnumerable<Proyecto1_KatherineMurillo.Models.cls_Mantenimiento>

@{
    ViewData["Title"] = "ListadoMantenimiento";
}

<h1>Listado Mantenimiento</h1>

<p>
    <a asp-action="AbrirCrearMantenimiento" asp-controller="RegistroMantenimiento">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID Mantenimiento
            </th>
            <th>
                ID Cliente
            </th>
            <th>
                Fecha Ejecutado
            </th>
            <th>
                Fecha Agendado
            </th>
            <th>
                Metros Propiedad
            </th>
            <th>
                Metros Cerca Viva
            </th>
            <th>
                Dias Sin Chapia
            </th>
            <th>
                Fecha Otra Chapia
            </th>
            <th>
                Tipo Zacate
            </th>
            <th>
                Aplicación Producto
            </th>
            <th>
                Producto Aplicado
            </th>
            <th>
                Costo Chapia
            </th>
            <th>
                Costo Aplicación Producto
            </th>
            <th>
                Estado Mantenimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEjecutado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAgendado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetrosPropiedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetrosCercaViva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasSinChapia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOtraChapia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoZacate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AplicacionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoAplicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoChapia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoAplicacionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoMantenimiento)
            </td>
            <td>
                    @Html.ActionLink("Modificar", "Edit", new { _iId_Mantenimiento = item.IdMantenimiento }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { _iId_Mantenimiento = item.IdMantenimiento }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
