@model IEnumerable<Proyecto1_KatherineMurillo.Models.cls_Inventario>

@{
    ViewData["Title"] = "ListadoInventario";
}

<h1>Listado Inventario</h1>

<p>
    <a asp-action="AbrirCrearInventario" asp-controller="RegistroInventario" >Crear Nuevo</a>
</p>

<form asp-action="FiltrarInventario" asp-controller="RegistroInventario" method="get">
    @* ASOCIO LA ACCION DEL CONTROLLLER ASP-ACTION Y LE ASIGNO EL CONTROLLER ASP-CONTROLLER *@
    <div>
        <label>Buscar Inventario: </label>
        <input name="_sIdBuscar" id="estado" type="search" required /> @*EL NAME COINCIDE CON EL VALOR DEL STRING QUE RECIBE*@
        <span id="estadoFeedback" style="color: red;"></span>
        <button type="submit" class="button btn-outline-primary font-weight-bold"> <span class="spinner-border spinner-border-sm"></span>Filtrar</button>
    </div>
</form>

<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>
                ID Inventario
            </th>
            <th>
                Descripción
            </th>
            <th>
                Tipo Máquina
            </th>
            <th>
                Horas Actuales
            </th>
            <th>
                Horas Máximas
            </th>
            <th>
               Horas Mantenimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horasActuales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horasMaximas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horasMantenimiento)
            </td>
            <td>
                    @Html.ActionLink("Modificar", "AbrirModificarInventario", new { _iId_Inventario = item.idInventario }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "AbrirEliminarInventario", new { _iId_Inventario = item.idInventario }, new { @class = "btn btn-danger" }) |
            </td>
        </tr>
}
    </tbody>
</table>
