@model IEnumerable<Proyecto1_KatherineMurillo.Models.cls_Inventario>

@{
    ViewData["Title"] = "ListadoInventario";
}

<h1>Listado Inventario</h1>

<p>
    <a asp-action="AbrirCrearInventario" asp-controller="RegistroEmpleados" >Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID Inventario
            </th>
            <th>
                Descripción
            </th>
            <th>
                Tipo Máquina
            </th>
            <th>
                Horas Actuales
            </th>
            <th>
                Horas Máximas
            </th>
            <th>
               Horas Mantenimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasActuales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasMaximas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasMantenimiento)
            </td>
            <td>
                    @Html.ActionLink("Modificar", "AbrirModificarInventario", new { _id_Inventario = item.IdInventario }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "AbrirEliminarInventario", new { _id_Inventario = item.IdInventario }, new { @class = "btn btn-danger" }) |
            </td>
        </tr>
}
    </tbody>
</table>
