@model Proyecto1_KatherineMurillo.Models.Empleados

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color:darkcyan">Registros</h1>

<h4 style="color:darkcyan">Eliminar empleado</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaNacimiento.ToString("d")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lateralidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lateralidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaIngreso.ToString("d")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioHora)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        @Html.HiddenFor(model => model.Cedula)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
