@model IEnumerable<Proyecto1_KatherineMurillo.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}


<h1>Listado Registro Empleados</h1>

<p>
    <a asp-action="Create" asp-controller="RegistroEmpleados">Crear Nuevo</a>

<h1>Lista de empleados</h1>
<hr />
<p>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Cedula
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                Lateralidad
            </th>
            <th>
                Fecha Ingreso
            </th>
            <th>
                Salario Hora
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lateralidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioHora)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cedula }) |
                @Html.ActionLink("Delete", "Delete", new {  id = item.Cedula })
            </td>
        </tr>
}
    </tbody>
</table>
